// For naming colors variables, we recommend use http://chir.ag/projects/name-that-color/

// MAIN COLOR PALETTE
$white: #fff;
$light-gray: #c9c9c9;
$purple: #9180d7;
$purple-second: #6e86dd;
$dark: #1f2b32;
$dark-secondary: #223037;
$dark-contrast: #1b262c;
$table-row: #78787850;
$pale-green: #00b488;
$white-ice: #e5faf6;
$athens-gray: #c5c5c5;
$royal-blue: #555eda;
$radical-red: #fa3150;

$background-site: $athens-gray;
$background-contrast: $light-gray;
$text-main: $dark;
$text-contrast: $dark-contrast;
$text-secondary: $table-row;
